:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 1.25rem;
}

p {
  margin: 1rem 0;
}

ol {
  list-style-type: lower-greek;
}
ol li {
  margin-bottom: 2rem;
}
ol li:last-child {
  margin-bottom: 0;
}

main {
  padding: 5rem 6.18034%;
  display: flex;
  flex-wrap: wrap;
}
main > div:first-child {
  margin-right: 6.18034%;
}
main > div:first-child > p:first-child {
  margin: 0;
}
main > div:last-child {
  max-width: 50%;
}

.kitten {
  width: 200px;
  cursor: pointer;
}
.kitten-attacking {
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
  left: -7.5vw;
  width: 25vw;
  transition: all 1s ease;
  cursor: help;
}
.kitten-attacking:hover {
  transform: rotate(90deg) scale(2);
  left: 0;
  top: 37.5%;
}

@media only screen and (max-width: 800px) {
  main {
    padding: 3rem 3.82034%;
  }
  .kitten {
    display: block;
  }
}
@media only screen and (max-width: 1400px) {
  main {
    width: 75%;
    margin: 0 auto;
  }
  main > div:last-child {
    max-width: 100%;
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 1920px) {
  main {
    padding: 5rem 16.18034%;
  }
}
