:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

p {
  margin: 1rem 0;
}

main {
  padding: 5rem 16.18034%;
}

.kitten {
  width: 200px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .kitten {
    display: block;
  }
}
